{
	email "srinohosting@gmail.com"
}

staging.srinohosting.com,
registry.srinohosting.com,
auth.srinohosting.com {
	reverse_proxy http://srinohosting-k3s
}
srinohosting.com:5000 {
	reverse_proxy http://srinohosting-k3s:5000 {
		header_up Host registry.srinohosting.com
	}
}
