{
	email "srinohosting@gmail.com"
}

staging.srinohosting.com,
excalidash.srinohosting.com,
registry.srinohosting.com,
auth.srinohosting.com,
vpn.srinohosting.com {
	reverse_proxy http://srinohosting-k3s
}
